.page {
  display: grid;
  grid-template-columns: minmax(0, 1fr) var(--sidebar-right-width, 280px);
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header aside'
    'content aside';
  column-gap: var(--ds-size-12);
  align-items: start;
}

.header {
  grid-area: header;
  max-width: var(--short-content-width, 700px);
  margin-bottom: var(--ds-size-10);
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-3);
}

.ingress {
  color: var(--ds-color-neutral-text-subtle);
}

.toc {
  grid-area: aside;
}

.article {
  grid-area: content;
  min-width: 0;
}

@media screen and (max-width: 1180px) {
  .page {
    grid-template-columns: 1fr;
    grid-template-areas:
      'header'
      'content';
  }

  .toc {
    display: none;
  }
}
